@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html {
	background-image: url(../img/landing.png);
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
body {
	padding-top: 0px;
	overflow-x: hidden;
	font-family: "robotoregular";
	background: transparent; color: #ffffff;
}
.menu {
	background: #3889ca;
	color: #000000;
}
.navbar { 
	background: rgba(0, 0, 0, 0.4);
	color: #ffffff;
	border: 0;
	box-shadow: 2px 0 5px rgba(0, 0, 0, .25)
}
.navbar .navbar-nav > li > a {
	color: #ffffff; 
}
.navbar .navbar-brand {
	position: relative;
	top: -10px;
	color: #ffffff;
	font-size: 20px;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
	background: rgba(0, 0, 0, 0.2);
}

.blue {
	background: #3889ca;
	color: #ffffff;
}

.modal img{
	float: left;
}
.navbar-fixed-top {
	border: 0;
}
.navbar-right {
	background: transparent;
	color: #ffffff;
	padding-right: 20px;
}
.navbar-right button {
	background: transparent;
	border-color: #ffffff;
	border-width: 2px;
	color: #ffffff;
}
.base {
	background: transparent;
	top: 40%;
	position: absolute;
	width: 100%;
	text-align: center;
	
}
.modal {
	color: #000000;
	left:50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 320px;
	min-height: 485px !important;
	border: solid;
}
.modal input {
	font-size: 18px;
	height: 50px;
}
.modal p {
	padding-top: 10px;
	text-align: center;
	font-size: 16px;
}
.modal .btn {
	display: block;
	font-size: 18px;
	height: 50px;
}
.modal .aright {
	padding-bottom: 15px;
}
.modal button {
	width: 100%;
}
.modal-body {
	height: 100%;
}
.modal-dialog, .modal-content {
	height: 100%;
}
.wari {
	padding-bottom: 15px;
}
.war {
	padding-bottom: 10px;
}
.cent {
	padding-top: 12px;
}
.form-control::-webkit-input-placeholder{color: #999;font-size: 18px;}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.small{
	font-size: 20px;
	display: none !important;
}
.hide{
	display: block !important;
}
.xs{
	display: none;
}

@media only screen and (max-width: 362px){
.xs{
	display: block !important;
}
.xs1{
	display: none;
}
}

@media only screen and (max-width: 362px){
.header{
	font-size: 24px;
}
.place{
	font-size: 16px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px){}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px){}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px){}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px){
	.small{
	display: block !important;
}
.hide{
	display: none !important;
}
}



















