.navbar .navbar-brand{
  position:relative;
  top:-10px;
  left:2vw;
}
.navbar-brand img{
  min-width: 60px;
  width: 10vw;
}
body .navbar-nav .active a{
  color: #b5b5b2 !important;
  height: 50px;
}
.in{background:rgba(0,0,0,0.3);
border:transparent;}
.navbar-static-top{
  height: 8vw;
  min-height: 50px;
  z-index: 100 !important;
  color:#ffffff;
  border:0;
  box-shadow:2px 0 5px rgba(0,0,0,.25)
}
  @font-face {
  font-family: 'Constantia';
  src: url('../fonts/constant.ttf') format('truetype'), url('../fonts/constanti.ttf') format('truetype'), url('../fonts/constantb.ttf') format('truetype'), url('../fonts/constantz.ttf') format('truetype');
}
body{
  font-family: 'Constantia';
}
.social{
  width: 20px;
}
#footer .social {
  margin-right: 10px;
}
.navbar-right{
  margin-right: -7px;
}
.navbar-right a {
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.navbar .nav li a {
  color: #ffffff;
}
@media(min-width:768px){

.gallerytrigger img{
  width: 25vw;
  min-width: 350px;
  max-width: 90vw;
  margin: 5px;
  display: inline-block;
}
  .allcontact table {
  top: 20vh;
}
.allcontact td {
  height: 6vh !important;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.describtion{
  float: left;
  width: 250px;
  margin-top: 20vh;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
    text-transform: uppercase;
}
body .dressview img {
  max-height: calc(100vh - 10vw);
}
.navbar-nav > li > a{
    top: 2vw; 
  }
  .carousel-indicators{
    display: none;
  }
  .dressview{
    height: calc(100vh - 10vw);
    width: calc(100vh - 10vw);
    display: inline-block;
    max-width: calc(100vw - 360px);
  }
  .carousel-inner {
    width: 100%;
    height: 100%;
  }
  .item{
    height: 100%;
  }
  .item img{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }
  .indicatorforcarousel {
    top: calc(50vh - 5vw);
    transform: translateY(-50%);
  }

.brandinfo img {
  max-height: calc(100vh - 10vw);
  max-width: 50%;
  float: right;
}
.brandtext {
  float: left;
  max-width: 47%;
  text-align: justify;
}
.branddescription{
  max-width: 1100px;
  margin: auto;
}
.branddescription h1 {
  text-align: center;
}

}
.inlineword{
  white-space: nowrap;
}

.navbar-nav > li {
    font-size: 20px;
     text-transform: uppercase;
}
.navbar .navbar-collapse {
    text-align: center;
  }
.in{
border:transparent;
}
@media (max-width: 768px) { 
  .describtion h1 {
text-align: center;
  }
  .contactimage {
    display: none;
  }
  .gallerytrigger img{
  width: 90vw !important;
  margin-bottom: 2vw;
}
body .galwidth {
  width: 1000px;
  min-width: 70vw;
  max-width: 98vw;
}
  .dresslabel {
    display: none;
  }
  .branddescription{
  text-align: center;
}
.brandtext {
  padding-left: 2%;
}
  .navbar-right{
    display: none;
  }
  /*body .dressview img {
  max-height: calc(100vh - 80px);
  max-width: calc(100vw - 20px);
}*/
.brandinfo img {
  
  max-width: 95vw;
  float: none;
}
.brandtext {
  float: none;
  max-width: 95vw;
  text-align: justify;
}
.describtion {
  float: none;
  width: 95vw;
  
}
.carousel-inner {
  width: 100%;
}
.item{
  width: 100%;
}
.item img {
  width: 95vw;
}
}/*end of navbar begin of carousel*/
.gallerycontrol{
  display: block;
  float: none;
  clear: left;
  margin-bottom: 50px;

}
.gallery-control{
  position: relative;
  display: block;
  font-size: 20px;
  color: #444444;
}
.gallery-control:hover,
.gallery-control:focus,
.gallery-control:active{
  color: #999999;
  text-decoration: none;
}
.gallery-control.left {
  float: left;
}
.gallery-control.right{
  float: right;
}
.carousel {
  max-height: 100%;
}

.carousel.fade{
  opacity: 1;
}
.carousel.fade .item{
  display: block;
  position: absolute; 
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity .5s;
}
.carousel.fade .item.active{
  position: relative;
  opacity: 1;
}
.gallerytrigger{
  text-align: center;
}
.close {
  position: absolute;
  top: 0px;
  right: -150px;
  font-size: 50px;
  z-index: 500;
  color: #ffffff;
  border: solid;
  border-color: #ffffff;
  border-radius: 20px;
}

.describtion{
  margin-left: 20px; 
}
.indicatorforcarousel{
  float: right;
  position: relative;
  display: flex;
  flex-direction: column;
}
.indicatorforcarousel label {
width: 70px;
height: 70px;
}
.dresslabel img {
  max-width: 70px;
  max-height: 70px;
}
.dressradio {
  display: none;
}
.centergallery {
  position: relative;
  /*min-width: 65vw;*/
  width: calc(100vh - 10vw + 400px);
  max-width: 99vw;
  left: 50%;
  transform: translate(-50%, 0);
}
.dresslabel {
  text-align: center;
 /* width: 80px;*/
}
body {
  background: #fafae1;
}

td {
  font-size: 18px;
}
.contactname {
  width: 40px;
  text-align: center;
}
table {
  margin: auto;
  position: relative;
}
.hiddentable {
  color: #fafae1;
}
.tablelogo {
  width: 50px;
}
.tablebrand {
  width: 150px;
}
.contactimage{
  width: calc(100% - 435px);
  float: right;
}
.allcontact{
  position: relative;
  min-width: 80vw;
  width: 1150px;
  max-width: 99vw;
}
.allcontact table {
  float: left;
}

#footer {
  height: 40px;
  clear: both;
  color: #ffffff;
  background-color: #222222;
}
#footer p {
  padding-top: 10px;
  float: left;
  padding-left: 10px;
}
.footer-right {
  float: right;
  display: inline;
  margin-top: 10px;
}
.footer-right a {
  display: inline;
  float: left;
}
.carousel .container {
  width: 100vw;
  height: 100vh;
}
.gallery-control .glyphicon {
  top: 3px;
}
.fitfooter {
  min-height: calc(100vh - 108px);
}
