.navbar .navbar-brand{
  position:relative;
  top:-10px;
  left:2vw;
}
.navbar-brand img{
  min-width: 60px;
  width: 10vw;
}
body .navbar-nav .active a{
  color: #b5b5b2 !important;
  height: 50px;
}
.in{background:rgba(0,0,0,0.3);
border:transparent;}
.navbar{
  height: 8vw;
  min-height: 50px;
  z-index: 100 !important;
  color:#ffffff;
  border:0;
  box-shadow:2px 0 5px rgba(0,0,0,.25)
}
  @font-face {
  font-family: 'Constantia';
  src: url('../fonts/Constantia.ttf') format('truetype');
}
body{
  font-family: 'Constantia';
}
.brand{
  font-family: 'Constantia';
  font-size: 6vw;
}
.navbar-brand {
  font-size: 160%;
}
.social{
  width: 20px;
}
.socialinst{
  width: 25px;
}
.navbar-right a {
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.navbar .nav li a {
  color: #ffffff;
}
@media(min-width:768px){
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
    text-transform: uppercase;
}
.navbar-nav > li > a{
    top: 2vw; 
  }
  .carousel-indicators{
    display: none;
  }
}
.navbar-nav > li {
    font-size: 20px;
     text-transform: uppercase;
}
.navbar .navbar-collapse {
    text-align: center;
  }
.in{
border:transparent;
}
@media (max-width: 768px) { 
  .dresslabel {
    display: none;
  }
  body .dressview img {
  max-height: calc(100vh - 80px);
  max-width: calc(100vw-20px);
}
}/*end of navbar begin of carousel*/
.carousel {
  max-height: 100%;
}
.carousel-inner {
  overflow: visible;
}
.carousel.fade{
  opacity: 1;
}
.carousel.fade .item{
  display: block;
  position: absolute; 
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity .5s;
}
.carousel.fade .item.active{
  position: relative;
  opacity: 1;
}
.gallerytrigger{
  text-align: center;
}
.gallerytrigger img{
  width: 25vw;
  min-width: 350px;
  max-width: 90vw;
  margin: 5px;
  display: inline-block;
}
.close {
  position: absolute;
  top: 0px;
  right: -150px;
  font-size: 50px;
  z-index: 500;
  color: #ffffff;
  border: solid;
  border-color: #ffffff;
  border-radius: 20px;
}

body .dressview {
  left: 15px;
  float: left;
 max-width: calc(100vh - 10vw);
  height: 100%;
 
}
body .dressview img {
  max-height: calc(100vh - 10vw);
}
.describtion{
  float: left;
  width: 250px;
}
.indicatorforcarousel{
  float: right;
  position: relative;
  display: flex;
  flex-direction: column;
}
.indicatorforcarousel label {
width: 70px;
height: 70px;
}
.dresslabel img {
  max-width: 70px;
  max-height: 70px;
}
.dressradio {
  display: none;
}
.centergallery {
  position: relative;
  /*min-width: 65vw;*/
  width: calc(100vh - 10vw+500px);
  max-width: 99vw;
  left: 50%;
  transform: translate(-50%, 0);
}
.dresslabel {
  text-align: center;
 /* width: 80px;*/
}
body {
  background: #fafae1;
}
.gallery-control {
  position: absolute;
  bottom: 15px;
  font-size: 20px;
}
.gallery-control.left {
  left: 30px;
}
.gallery-control.right{
  right: 30px;
}
.brandinfo img {
  max-height: calc(100vh - 10vw);
  max-width: 50%;
  float: right;
}
.brandtext {
  float: left;
  max-width: 47%;
  text-align: justify;
}
.branddescription{
  max-width: 1100px;
  margin: auto;
}
.branddescription h1 {
  text-align: center;
}
td {
  font-size: 18px;
}
.contactname {
  width: 100px;
}
table {
  margin: auto;
  position: relative;
}
.hiddentable {
  color: #fafae1;
}
.tablelogo {
  width: 50px;
}
.tablebrand {
  width: 150px;
}
@media (max-width: 741px){
  .gallerytrigger img{
  width: 90vw;
}
body .galwidth {
  width: 1000px !important;
  min-width: 70vw !important;
  max-width: 98vw !important;
}
