.navbar .navbar-brand{
  position:relative;
  top:-10px;
  left:2vw;
}
.navbar-brand img{
  min-width: 50px;
  width: 10vw;
}
.navbar-nav .active a{
  border: solid;
  border-color: #ffffff;
  border-width: 2px;
  height: 50px;
}
.navbar{
  height: 8vw;
  min-height: 50px;
  z-index: 100 !important;
  color:#ffffff;
  border:0;
  box-shadow:2px 0 5px rgba(0,0,0,.25)
}
  @font-face {
  font-family: 'Constantia';
  src: url('../fonts/Constantia.ttf') format('truetype');
}
body{
  font-family: 'Constantia';
}
.brand{
  font-family: 'Constantia';
  font-size: 6vw;
}
.navbar-brand {
  font-size: 160%;
}
.social{
  width: 20px;
}
.socialinst{
  width: 25px;
}
.navbar-right a {
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.navbar .nav li a {
  color: #ffffff;
}
@media(min-width:768px){
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
    text-transform: uppercase;
}}

.navbar-nav > li {
    font-size: 20px;
     text-transform: uppercase;
}
.navbar .navbar-collapse {
    text-align: center;
  }
.in{
border:transparent;
}
@media (min-width: 768px) { 
  .navbar-nav > li > a{
    top: 2vw; 
  }
}
/*end of navbar begin of carousel*/
.carousel {
  max-height: 100%;
}
.carousel-inner {
  overflow: visible;
}
.carousel-indicators li {
  text-indent: 0px !important;
  width: 70px;
  height: 70px;
overflow: hidden;
border:transparent;
display: block !important;
}
.carousel-indicators > li > img {
  max-width: 70px;
  max-height: 70px;
  position: relative;
  z-index: 1000;
  top: 50%;
  transform: translate(0, -50%);
}


.carousel-indicators li.active {
  text-indent: 0px !important;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border:transparent;

}
.carousel.fade{
  opacity: 1;
}
.carousel.fade .item{
  display: block;
  position: absolute; 
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity .5s;
}
.carousel.fade .item.active{
  position: relative;
  opacity: 1;
}

.carousel-indicators {
  width: 100% !important;
  bottom: 0px !important;
  margin-bottom: 0px !important;
}
.gallerytrigger{
  text-align: center;
}
.gallerytrigger img{
  max-width: 330px;
  margin: 5px;
  display: inline-block;
}
.close {
  position: absolute;
  top: 0px;
  right: -150px;
  font-size: 50px;
  z-index: 500;
  color: #ffffff;
  border: solid;
  border-color: #ffffff;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .gallerytrigger{
    margin-left: 50px;
    margin-right: 50px;
  }
  body .modal-gallery{
    width: 98vw;
  }
}
body .dressview {
  left: 15px;
  float: left;
  max-width: 600px;
  height: 100%;
  display: inline-flex;
}
body .dressview img {
  max-height: calc(100vh - 10vw);
}
.indicatorforcarousel .carousel-indicators {
  position: relative;
}
.describtion{
  float: left;
  width: 300px;
}
.indicatorforcarousel{
  float: right;
  position: relative;
  display: flex;
  flex-direction: column;
}
.indicatorforcarousel label {
width: 70px;
height: 70px;
}

.container-gallery {

  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-around; /* switched from default (flex-start, see below) */
  background-color: lightyellow;
}

.dresslabel img {
  max-width: 70px;
  max-height: 70px;
}
.dressradio {
  display: none;
}
.dressradio:checked + .dresslabel {
  opacity: 0.5;
}

.centergallery {
  position: relative;
  width: 1000px;
  left: 50%;
  transform: translate(-50%, 0);
}
.dresslabel {
  text-align: center;
 /* width: 80px;*/
}
body {
  background: #fafae1;
}
/*.dresslabel option{
  height: 80px;
}
.dresslabel::-webkit-scrollbar{
  display: none;
}*/
.gallery-control {
  position: absolute;
  bottom: 15px;
  font-size: 20px;
}
.gallery-control.left {
  left: 30px;
}
.gallery-control.right{
  right: 30px;
}
.brandinfo img {
  max-height: calc(100vh - 10vw);
  max-width: 50%;
  float: right;
}
.brandtext {
  float: left;
  max-width: 47%;
  text-align: justify;
}
.branddescription{
  max-width: 1100px;
  margin: auto;
}
.branddescription h1 {
  text-align: center;
}
