.navbar .navbar-brand{
  position:relative;
  top:-10px;
  left:2vw;
}

.navbar-brand img{
  min-width: 50px;
	width: 10vw;
}

  @font-face {
  font-family: 'Constantia';
  src: url('../fonts/Constantia.ttf') format('truetype');
}
body{
  font-family: 'Constantia';
}
.brand{
  font-family: 'Constantia';
  font-size: 6vw;
}
.navbar-brand {
  font-size: 160%;
}

.carousel img{
  min-width: 100%; 
  overflow-y: hidden !important;
}
.carousel {
  max-height: 100%;
}
.carousel-control .glyphicon{
  top: 50vh;
}


.navbar{
  height: 8vw;
	min-height: 50px;
	z-index: 100 !important;
	color:#ffffff;
	border:0;
	box-shadow:2px 0 5px rgba(0,0,0,.25)
}


.carousel {
  height: 100vh !important;
  overflow: hidden;
}
.carousel-inner {
  overflow: visible;
}
.carousel-inner img {
  left: 50%;
  max-width: none !important;
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  transform: translate(-50%,0);
}

.carousel-caption {
    top: 60vh;
    bottom: auto;
}

.social{
	width: 30px;
}
.navbar .nav li a {
  color: #ffffff;
}
@media(min-width:768px){
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
    text-transform: uppercase;
}}

.navbar-nav > li {
    font-size: 20px;
     text-transform: uppercase;
}
.navbar .navbar-collapse {
    text-align: center;
  }
.in{
border:transparent;
}
@media (min-width: 768px) { 
  .navbar-nav > li > a{
    top: 2vw; 
  }
}
.galimg {
  background-size: cover;
  background-position: 50% 50%;
  display: inline-block;
  margin: 10px;
}
.a1 {
  width: 350px;
  height: 350px;
}
.a2 {
  width: 350px;
  height: 400px;
}
.a3 {
  width: 350px;
  height: 450px;
}
.a4 {
  width: 350px;
  height: 500px;
}
.a5 {
  width: 350px;
  height: 550px;
}
.a6 {
  width: 350px;
  height: 600px;
}
.a7 {
  width: 350px;
  height: 650px;
}
.a8 {
  width: 350px;
  height: 700px;
}
.a9 {
  width: 350px;
  height: 750px;
}
.a0 {
  width: 350px;
  height: 800px;
}
.gallerytrigger{
  text-align: center;
}
