.navbar .navbar-brand{
  position:relative;
  top:-10px;
  left:10px;}


  @font-face {
  font-family: 'Constantia';

  src: url('../fonts/Constantia.ttf') format('truetype');
}
body{font-family: 'Constantia';}
.carousel img{min-width: 100%;}
