.navbar .navbar-brand{
  position:relative;
  top:-10px;
  left:2vw;
}

.navbar-brand img{
	min-width: 50px;
	width: 10vw;
}

  @font-face {
  font-family: 'Constantia';
  src: url('../fonts/Constantia.ttf') format('truetype');
}
body{
	font-family: 'Constantia';
}
.brand{
	font-family: 'Constantia';
	font-size: 6vw;
}
.navbar-brand {
	font-size: 160%;
}
.carousel {
	max-height: 100%;
}
.carousel-control .glyphicon{
	top: 50vh;
}


.navbar{height: 8vw;
	min-height: 50px;
	z-index: 100 !important;
	background:rgba(0,0,0,0.3);
	color:#ffffff;
	border:0;
	box-shadow:2px 0 5px rgba(0,0,0,.25)}


.carousel {
	/*top: -70px;*/
  height: 100vh !important;
  overflow: hidden;
}
.carousel-inner {
  overflow: visible;
}
.carousel-inner img {
  left: 50%;
  height: 100vh;
  /*min-width: 100vw;*/
  position: absolute;
  transform: translate(-50%,0);
}
/*.conteiner {position: relative;
	top: 700px !important;}*/
.carousel-caption {
    top: 60vh;
    bottom: auto;
}

.social{
	width: 20px;
}
.socialinst{
  width: 25px;
}
.navbar-right a {
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.navbar .nav li a {color: #ffffff;}
@media(min-width:768px){
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
    text-transform: uppercase;
}}

.navbar-nav > li {
    font-size: 20px;
     text-transform: uppercase;
}
.navbar .navbar-collapse {
    text-align: center;}

.in{background:rgba(0,0,0,0.3);
border:transparent;}

@media (min-width: 768px) { 
  .navbar-nav > li > a{
    top: 2vw; 
  }
}
.btn-primary {
  background: rgba(0,0,0,0.3);
  border: transparent;
}
.btn-primary:hover {
  background: rgba(0,0,0,0.5);
}
