.navbar .navbar-brand{
  position:relative;
  top:-10px;
  left:10px;}

.navbar-brand img{min-width: 50px;
	width: 10vw;}

  @font-face {
  font-family: 'Constantia';

  src: url('../fonts/Constantia.ttf') format('truetype');
}
body{font-family: 'Constantia';}
.brand{font-family: 'Constantia';
font-size: 6vw;}
.navbar-brand {font-size: 160%;}

.carousel img{min-width: 100%; overflow-y: hidden !important;}
.carousel {max-height: 100%;}
.carousel-control .glyphicon{top: 50vh;}


.navbar{height: 8vw;
	min-height: 50px;
	z-index: 100 !important;
	background:rgba(0,0,0,0.3);
	color:#ffffff;
	border:0;
	box-shadow:2px 0 5px rgba(0,0,0,.25)}


.carousel {
	/*top: -70px;*/
  height: 100vh !important;
  overflow: hidden;
}
.carousel-inner {
  overflow: visible;
}
.carousel-inner img {
  left: 50%;
  max-width: none !important;
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  transform: translate(-50%,0);
}
/*.conteiner {position: relative;
	top: 700px !important;}*/
.carousel-caption {
    top: 60vh;
    bottom: auto;
}

.social{
	width: 2vw;
	min-width: 30px;
	/*width: 2vw !important;*/
}
.navbar .nav li a {color: #ffffff;}
@media(min-width:768px){
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
    text-transform: uppercase;
}}

.navbar-nav > li {
    font-size: 20px;
     text-transform: uppercase;
}
.navbar .navbar-collapse {
    text-align: center;}

.in{background:rgba(0,0,0,0.3);
border:transparent;}
